.contenedor {
    min-height: 83vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: flex-start;
    gap: 5%;
    height: 100%;
    width: 100%;
    margin:0%;
    background-image: url("Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.img {
    max-width: 500px;
    width: 500px;
    max-height: 450px;
    border-radius: 10px;
    border: 5px outset #550dad;
    box-shadow: 0 0 20px 10px #550dad;
    margin-left: 150px;
    cursor: pointer;
}

.datos {
    font-family: "Rockwell";
    background-color: #550dad;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #550dad;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 150px;
    border: 12px groove #550dad;

    .titulo {
        font-size: 28px;
        color: #93f709;
    }
    .info {
        font-size: 20px;
        color: white;
    }
}
.temperaments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;

    .p {
        flex: 0 0 calc(33.33% - 10px); 
        margin: 5px;
        font-family: "Rockwell";
        font-size: 15px;
        background-color: #518805;
        border-radius: 100px;
        width: 18%;
        color: white;
        font-weight: lighter;
        cursor: pointer;
    }
}


.p {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.p:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform:translate(0px,3px);
}

.back {
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #550dad;
    cursor: pointer;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.back:hover{
    color: #8e3af5;
    background-color: #f6b7fb;
    transform: scale3d(1.2, 1.2, 0.3);
        -webkit-transform: scale3d(1.2, 1.2, 0.3);
        -moz-transform: scale3d(1.2, 1.2, 0.3);
}

.loaddiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0%;
    height: 100%;
    width: 100%;
    margin:0%;
    position: absolute;
    inset: 0;
    border: 2px solid #550dad;
    box-sizing: border-box;
    background-image: url("Fondo.jpg");
    background-size: cover;
    background-repeat: none;

}
.loader {
    border: 5px solid white;
    border-left: 5px solid #550dad;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Aplica la animación "spin" */
}

@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}

.imagencontiner {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 45%;
    margin-left: 150px;
    background-color: #550dad;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end;
    gap: 0px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 5px outset #550dad;
    padding-bottom: 2px;
  }

.img:hover + .caption {
    opacity: 0.8; /* Hacer visible el caption cuando se coloca el cursor sobre la imagen */
}


.name {
    font-family: "Rockwell";
    color: #93f709;
    font-size: 20px;
    margin: 10px;
}

.adicional {
    font-family: "Rockwell";
    margin: 10px;
    font-size: 15px;
}
