.general {
    min-width: 100vh;
    background-color: #ffe8bf;
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
}

.filtros {
    display: flex;
    flex-direction: row;
    gap: 3%;
    .filTemp {
        display: flex;
        flex-direction: column; 
        align-items: top;
        align-content: top;
        justify-content: space-between
    }
    .filOrigen {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        gap: 1%;
    }
}

.divor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ordenadores {
        display: flex;
        flex-direction: row;
        gap: 3%;
        .orName {
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: center;
            gap: 2%;
        }
        .orPeso {
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: center;
            gap: 2%;
        }
    }
}

.texto {
    font-family: "Rockwell";
    font-size: 18px;
    color: #550dad;
}

.textosecun {
    font-family: "Rockwell";
    font-size: 15px;
    color: #000000;
}

.select {
    font-family: "Rockwell";
    background-color: #9f7bfc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    border: solid black 1.8px;
    border-radius: 10px;
    height: 40%;
    width: 60%;
}

.select:focus {
    background-color: #4512ef;
    color: white;
    outline: none; 
    border-color: black;
}

.tempfil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 5px;
    .tempfiltemp {
        flex: 0 0 calc(25% - 2px); 
        margin: 5px;
        font-family: "Rockwell";
        font-size: 15px;
        background-color: #9f7bfc;
        border-radius: 100px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
}

.filTemp2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.botones {
    height: 40%;
    width: 20%;
    font-size: 16px;
    border-radius: 10px;
    background-color: #550dad;
    color: white;
    border: solid 1.8px black;
    cursor: pointer;
    font-family: "Rockwell";
}

.botones:hover {
    background-color: green; 
    color: white;
    border: solid 2px white;
    font-weight: bold;
}

.botonclean {
    height: 40%;
    width: 20%;
    font-size: 16px;
    border-radius: 10px;
    background-color: #550dad;
    color: white;
    border: solid 1.8px black;
    cursor: pointer;
    font-family: "Rockwell";
}

.botonclean:hover {
    background-color: white; 
    color: blue;
    border: solid 2px blue;
    font-weight: bold;
}

.divboton {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.paginado {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    gap: 5px;
}

.botonpag {
    height: 40%;
    width: 80px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #9f7bfc;
    color: white;
    border: solid 1.5px black;
    cursor: pointer;
    font-family: "Rockwell";
}
.botonpag:hover {
    background-color: #550dad; 
    color: white;
    border: solid 1.8px white;
}
.botonpag:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.pagina {
    font-family: "Rockwell";
    background-color: #007bff; /* Cambia el color a tu preferencia */
    color: white;
    font-weight: bold;
    border-radius: 25%;
    font-size: 16px;
    border: none;
}

.paginaboton {
    font-family: "Rockwell";
    background-color: transparent; /* Cambia el color a tu preferencia */
    color: #550dad;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.paginaboton:hover {
    font-size: 16px;
    color: #007bff;

}

.paginado2 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}

.loaddiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0%;
    height: 100%;
    width: 100%;
    margin:0%;
    padding: 25px;
    .h1{
        text-decoration: underline #ffe8bf;
        color: #550dad;
    }
}
.loader {
    border: 5px solid #550dad;
    border-left: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Aplica la animación "spin" */
}
@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}