
.toggleButton {
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 35px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #550dad;
  cursor: pointer;
  transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.toggleButton:hover{
  color: #8e3af5;
  background-color: #f6b7fb;
  transform: scale3d(1.2, 1.2, 0.3);
    -webkit-transform: scale3d(1.2, 1.2, 0.3);
    -moz-transform: scale3d(1.2, 1.2, 0.3);
}
  
  .hiddenMenu {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -260px;
    background-color: white;
    font-family: "Rockwell";
    border-left: 1px solid #550dad;
    color: #fff;

    transition: right 0.8s ease-in-out; 
    gap: 5px;
  }
  
  .hiddenMenu ul {
    list-style: none;
    padding: 0;
  }

  .hiddenMenu a {
    color: inherit; /* Hereda el color del padre (blanco) */
    text-decoration: none; /* Quita la subrayado predeterminado */
  }
  
  .hiddenMenu li {
    margin: 10px 0;
  }
  
  .menuVisible {
    right: 0;
  }


.opciones {
    color: #550dad;
    font-family: "Rockwell";
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}

.opcionesx {
  color: #550dad;
  font-weight: bolder;
  font-family: "Rockwell";
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  padding-left: 200px;
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.opcionesx:hover{
  color: red;
  transform: scale3d(1.1, 1.1, 0.2);
      -webkit-transform: scale3d(1.1, 1.1, 0.2);
      -moz-transform: scale3d(1.1, 1.1, 0.2);
}
            

.opcionestit {
  color: white;
  background-color: #550dad;
  text-align: center;
  font-family: "Rockwell";
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  border-left: 1px solid white;
}