.contenedor {
    min-height: 83vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    align-content: center;
    flex-wrap: nowrap;
    background-color:  #ffe8bf;
    height: 100%;
    width: 100%;
    margin:0%;
    gap: 12px;
    .ppal {
        font-size: 35px;
        font-family: "Rockwell";
        text-decoration: none;
        color: #550dad;
        margin-left: 33.33%;
    }
}


.divdato {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    font-family: "Rockwell";
    gap: 18px;
    padding: 0%;
    height: 30px;
    margin-left: 25%;

    .dato {
        font-size: 19px;
        color: #550dad;
        font-weight: bold;
        padding-right: 8px;
    }
    .datosec {
        font-size: 15px;
        color: #4512ef;
        font-weight: lighter;
        padding-right: 2px;
    }
    .inputnum {
        font-family: "Rockwell";
        background-color: white;
        font-size: 15px;
        color: #550dad;
        font-weight: bolder;
        text-align: center;
        width: 15%;
        border: 2px solid black;
        border-radius: 10px;
     }
     .inputnum::placeholder {
    font-family: "Rockwell";
       color:#550dad;
       font-style: italic;
       font-size: 14px;
       opacity: 0.8;
       font-weight: lighter;
    }
    .inputtext {
        font-family: "Rockwell";
        background-color: white;
        font-size: 15px;
        color: #550dad;
        font-weight: bolder;
        text-align: center;
        width: auto;
        border: 2px solid black;
        border-radius: 10px;
     }
     .inputtext::placeholder {
        font-family: "Rockwell";
       color:#550dad;
       font-style: italic;
       font-size: 14px;
       opacity: 0.8;
       font-weight: lighter;
    }
    .select {
        font-family: "Rockwell";
        background-color: #9f7bfc;
        color: white;
        text-align: center;
        font-size: 16px;
        border: solid black 1.8px;
        border-radius: 10px;
    }
    
    .select:focus {
        background-color: #4512ef;
        color: white;
        outline: none; 
        border-color: black;
    }

 
}

.tempfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "Rockwell";
    gap: 18px;
    padding: 3px;
    height: 30px;
    width: auto;
    .tempfiltemp {
        padding-top: 3px;
        padding-bottom: 3px;
        width: 110%;
        flex: 0 0 calc(25% - 2px); 
        margin: 5px;
        font-family: "Rockwell";
        font-size: 15px;
        background-color: #4512ef;
        border-radius: 10px;
        text-align: center;
        color: white;
        border: 1px solid white;
    }
}

.botonclean {
    font-size: 16px;
    border-radius: 10px;
    background-color: #3a0977;
    color: white;
    border: solid 1.8px black;
    cursor: pointer;
    font-family: "Rockwell";
}

.botonclean:hover {
    background-color: white; 
    font-weight: bolder;
    color: #4512ef;
    border: solid 1.8px #4512ef;
}


.boton {
    font-size: 22px;
    border-radius: 10px;
    background-color: #550dad;
    color: white;
    border: solid 1.8px black;
    cursor: pointer;
    font-family: "Rockwell";
    margin-top: 10px;
    margin-left: 20%;
}

.boton:hover {
    background-color: green; 
    color: white;
    font-weight: bolder;
    border: solid 1.8px white;
}

.boton:disabled {
    font-size: 22px;
    border-radius: 10px;
    color: white;
    border: solid 1.8px black;
    cursor: pointer;
    font-family: "Rockwell";
    margin-top: 10px;
    margin-left: 20%;
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }



.inputtext2 {
    font-family: "Rockwell";
    background-color: white;
    font-size: 15px;
    color: #550dad;
    font-weight: bolder;
    text-align: center;
    width: 300%;
    border: 2px solid black;
    border-radius: 10px;
    width: 32%;
 }
 .inputtext2::placeholder {
    font-family: "Rockwell";
   color:#550dad;
   font-style: italic;
   font-size: 14px;
   opacity: 0.8;
   font-weight: lighter;
}



.divdato2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;


}

.textohover {
    font-size: 12px;
    opacity: 0; /* Comienza oculto */
    transition: opacity 0.3s ease;
    font-family: "Rockwell";
    position: relative;
    visibility: hidden;
}
.simbolo {
    font-family: "Rockwell";
    color: red;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
}
.simbolo:hover + .textohover {
    opacity: 0.8;
    color: red;
    visibility: visible;
    background-color: white;
    border: solid 1.5px red;
    font-weight: bold;
    border-radius: 10px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;

}


input:required {
    border: 2px solid red;
  }
  
input:required:focus {
    border-color: blue;
}